*.pyc
/db.sqlite3
.DS_Store
.env
*/settings/local.py
*/settings/test.py
/staticfiles/*
/mediafiles/*
__pycache__/
.vscode/*

# coverage result
.coverage
/coverage/

# pycharm
.idea

# data
*.dump

#Folders
.DS_Store

# General
/venv/
/env/
/output/
/cache/

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

junit.xml
